fastapi==0.136.1
fitz==0.0.1.dev2
lark_oapi==1.5.3
numpy==2.4.4
opencv_contrib_python==4.10.0.84
opencv_python==4.13.0.92
openpyxl==3.1.5
Pillow==12.2.0
pydantic==2.13.3
pydantic_settings==2.14.0
pypdf==6.10.2
PyPDF2==3.0.1
python-dotenv==1.2.2
Requests==2.33.1
tencentcloud_sdk_python==3.1.63
xfyunsdkocr==0.0.3
